<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="/assets/style.css" />
  <script src="/js/maps.js"></script>
  <title>Clean Water Project</title>
</head>

<body>
  <header>
    <div class="container">

      {{!-- <div id="logo"><img src="/assets/images/logo.jpg" alt="logo"></div> --}}
    </div>
  </header>
  <nav>
    <nav>
      <div class="nav-wrapper light blue" style="padding: 0px 10px;">
        <a href="/home" class="brand-logo"><i class="material-icons">invert_colors</i>The Clean Water Project</a>
        <a href="#" data-activates="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>

        {{!-- <a class="wave-effect blue" href="/home">Home</a> --}}
        <ul class="right hide-on-med-and-down">
          {{#if logged_in}}
          <li><a href="/dashboard" class="wave-effect blue ">Dashboard</a></li>
          <button id="newpost" class="btn wave-effect blue">Make an
            Observation</button>
          <a href="/dashboard/county" class="btn wave-effect blue">
            Algae by County</a>
          <a href="/dashboard/info" class="btn wave-effect blue">
            Algae Information</a>
          <button class="btn wave-effect blue" id="logout">Logout</button>
        </ul>
      </div>
      {{else}}
      <a href="/dashboard/county" class="wave-effect blue">
        Algae by County</a>
      <a href="/dashboard/info" class="wave-effect blue">
        Algae Information</a>
      <a href="/login" class="wave-effect blue">
        <id id="login">Login</id>
      </a>
      <a href="/signup" class= "wave-effect blue">
        <id id="signup">Sign up</id>
      </a>

      {{/if}}
      </div>
    </nav>
    <main>
      <div class="body-wrapper">
        {{{body}}}
      </div>
    </main>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
     <footer class="page-footer blue">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text-underline">Additional Information</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://protectingfloridatogether.gov/education-center/blue-green-algae">Protecting Florida Together</a></li>
                  {{!-- <li><a class="grey-text text-lighten-3" href="Romulo's GitHub">Romulo</a></li> --}}

                </ul>
                <p class="grey-text text-lighten-4"></p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Github</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="Shannon's GitHub">Shannon</a></li>
                  <li><a class="grey-text text-lighten-3" href="Romulo's GitHub">Romulo</a></li>
                  <li><a class="grey-text text-lighten-3" href="McKinley's Github">McKinley</a></li>
                  <li><a class="grey-text text-lighten-3" href="Todd's Github ">Todd</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright blue">
            <div class="container center-align">
            © 2021 The Clean Water Project
           
            </div>
          </div>
        </footer>
            

    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="js/materialize.js"></script>


    <script src="/js/scripts.js"></script>
    <script src="/js/county.js"></script>
</body>

</html>
