<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" href="/assets/style.css" />
  <script src="/js/maps.js"></script>
  <title>Clean Water Project</title>
</head>

<body>
  <header>
    <div class="container">
      <h1 class="text-center my-3">Welcome! Become an Algae Buster Today!</h1>
    </div>
  </header>
  <nav class="navbar">
    <div class="container">
      <a class="nav-item waves-effect waves-light btn btn-success p-2 w-25 ms-3" href="/">Home</a>

      {{#if logged_in}}
      <a href="/dashboard" class="nav-item waves-effect waves-light btn btn-secondary p-2 w-25">Dashboard</a>
      <button id="newpost" class="nav-item waves-effect waves-light btn btn-secondary p-2 w-25">Make an
        Observation</button>
      <a href="/dashboard/county" class="nav-item waves-effect waves-light btn btn-secondary p-2 w-25">
        Algae by County</a>
      <a href="/dashboard/info" class="nav-item waves-effect waves-light btn btn-secondary p-2 w-25">
        Algae Information</a>
      <button class="nav-item waves-effect waves-light btn btn-secondary p-2 w-25 me-3" id="logout">Logout</button>

      {{else}}
      <a href="/dashboard/county" class="nav-item waves-effect waves-light btn btn-secondary p-2 w-25">
        Algae by County</a>
      <a href="/dashboard/info" class="nav-item waves-effect waves-light btn btn-secondary p-2 w-25">
        Algae Information</a>
      <a href="/login" class="nav-item waves-effect waves-light btn btn-secondary p-2 w-25 me-3">
        <id id="login">Login</id>
      </a>
      <a href="/signup" class="nav-item waves-effect waves-light btn btn-secondary p-2 w-25">
        <id id="signup">Sign up</id>
      </a>

      {{/if}}
    </div>
  </nav>
  <main>
    <div class="body-wrapper">
      {{{body}}}
    </div>
  </main>
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="/js/scripts.js"></script>
  <script src="/js/county.js"></script>
</body>

</html>


{{!--
<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="#!">one</a></li>
  <li><a href="#!">two</a></li>
  <li class="divider"></li>
  <li><a href="#!">three</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
      <li><a href="sass.html">Sass</a></li>
      <li><a href="badges.html">Components</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown1">Dropdown<i
            class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>

To activate the dropdown menu, insert this line of code into your JavaScript file, within the $( document
).ready(function) block


$(".dropdown-trigger").dropdown(); --}}