<div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center blue-text">The Clean Water Project</h1>
      <div class="row center">
        <h5 class="header col s12 light">Algae growth in Florida waterways is hard to identify and can be toxic to both human and pets.
         Our goal is to use crowdsourcing to identify and record algae in the Florida waterways.</h5>
      </div>
      <br><br>

    </div>
  </div>


  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">flash_on</i></h2>
            <h5 class="center">The Dangers of Algae</h5>

            <p class="light">In a statement from the EPA, "When disinfectants used to treat drinking water react with toxic algae, harmful chemicals called dioxins can be created. These byproducts have been linked to serious health problems, including reproductive and developmental health risks."</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><help class="material-icons">help</i></h2>
            <h5 class="center">Actions Florida is Taking</h5>

            <p class="light"> "Located in the Office of the Secretary, and led by a chief science officer, the office will identify and organize agency resources and scientific expertise to address the broad suite of environmental challenges facing Florida today and those that we can expect in the future." - Florida Department of Environmental Protection </p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
            <h5 class="center">Community </h5>

            <p class="light">If you are interested in taking action, there are several steps you can take. If you see an algae bloom please report it. Accurate and timely reporting can help fight aginst the current algae crisis. Aditionally, there are many volunteer opportunities to help maintain Flordia's Waterways. We encourage everyone to get involved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="section">
        <div class="row">
            <div class="col s12 m4">
                <div class="video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/fvPA8Y4T1VM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/wW9cZLSGcWo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="col s12 m4">
                <div class="video-container">
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/XR8aSHClHVI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
        </div>    
    </div>        
</div>
