<div class="mb-3">
  <label for="formControlTitle" class="form-label">Title</label>
  <input type="text" class="form-control" id="formControlTitle" placeholder="Your Title ">
</div>
<div class="mb-3">
  <label for="formControlTextarea1" class="form-label">Body</label>
  <textarea class="form-control" id="formControlTextarea1" rows="3"></textarea>
  <button type="submit" class="btn btn-primary">Submit</button>
</div>