<form id="new-post-form" class="form">
  <div class="mb-3 form-group">
    {{!-- post title --}}
    <label for="form-title" class="form-label">Title</label>
    <input
      type="text"
      class="form-control"
      id="form-title"
      placeholder="Your Title "
    />
  </div>
  {{!-- post body --}}
  <div class="mb-3 for-group">
    <label for="form-body" class="form-body">Body</label>
    <textarea
      class="form-control"
      id="form-body"
      rows="4"
    ></textarea>    
  </div>
  {{!-- image uploader --}}    
      <div class="file-field input-field">
        <div class="btn">
          <span>File</span>
          <input type="file" multiple>
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Upload one or more files">
        </div>
      </div>
          
  </div>
  <button type="submit" class="btn btn-primary">Submit</button> 
</form>
<script src='/js/post-form.js'></script>