<div class="container">
    <div class="card text-decoration-none m-2 flex-row" style="width: 60rem;">
        <div class="card-body">
            <div class="card-header">
                <h2 class="card-title">

                </h2>

                <form class="form" id="update-form-body">
                    <label form="update-title" class="form-label">Title:</label>
                    <textarea class="form-control" id="title-form" rows="2"></textarea>
                    <label form="update-body" class="form-label">Body:</label>
                    <textarea class="form-control" id="vody-form" rows="5"></textarea>
                    <button type="submit" class="btn comment-submit" id={{post.id}}>Submit New Comment</button>
                </form>
            </div>
            <script src="/js/update.js"></script>
        </div>
    </div>
</div>