:root{
   --primary: #F2F2F2;
  --secondary: #30618C;
  --tertiary: #368ABF;
  --complimentary: #B6DBF2;
  --complimentary2: #182226;
  }


/* * {
    margin: 0 auto;
} */

html{
    background-color: var(--primary);
}

label{
    color: black;
    font-size: 120%;
}

#logo{
    margin-left: 25%;
}

.form-title{
    background: red;
}

.navbar{
    background-color: var(--secondary);
    
}

.card-body{
    margin-left: 30%;
}

.btn {
    background-color: var(--complimentary);
    border-radius: 5px solid var(--tertiary);
}

#map {
    height: 400px;
}

#new-post-form {
    background-color: #f4f4f4;
    padding: 2rem;
    margin-top: 2rem;
}

.results-card {
    padding: 2rem;
}

.results {
    display: flex;
    /* override materialize's negative margins */
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 1rem 0;
    min-height: 75px;
}

.results:nth-child(even) {
    background-color: lightgray;
}

.search-result {
    margin-left: 1rem;
    text-align: left;
}

.search-result.heading {
    width: 100px;
    min-width: 100px;
}

.comments {
    visibility: hidden;
}

.card {
    padding: 2rem;
}

.footer {
    background-color: var(--secondary);
}