:root{
    --primary: #192E59;
  --secondary: #455473;
  --tertiary: #8090A6;
  --complimentary: #BFA399;
  --complimentary2: #8C7570;
  }


/* * {
    margin: 0 auto;
} */

html{
    background: linear-gradient(0.25turn, var(--complimentary), var(--complimentary2), var(--secondary));
}

label{
    color: black;
    font-size: 120%;
}

.form-title{
    background: red;
}

#map {
    height: 400px;
}

#new-post-form {
    background-color: #f4f4f4;
    padding: 2rem;
    margin-top: 2rem;
}

.results-card {
    padding: 2rem;
}

.results {
    display: flex;
    /* override materialize's negative margins */
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding: 1rem 0;
    min-height: 75px;
}

.results:nth-child(even) {
    background-color: lightgray;
}

.search-result {
    margin-left: 1rem;
    text-align: left;
}

.search-result.heading {
    width: 100px;
    min-width: 100px;
}

.comments {
    visibility: hidden;
}